certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
idna==3.11
numpy==2.4.1
pycparser==2.23
requests==2.32.5
SoundCard==0.4.5
srt==3.5.3
tqdm==4.67.1
urllib3==2.6.3
vosk==0.3.45
websockets==16.0
